/* Didact Gothic */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Hind+Siliguri:wght@300;400;500;600;700&family=Karla:ital,wght@0,200..800;1,200..800&family=M+PLUS+Rounded+1c&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* root */
:root {
    --primary: #0891b2;
    --secondary: #1e40af;
    --tertiary: #000;
}

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


/* anchor */
a {
    text-decoration: none;
    color: inherit;
}

p,
li {
    font-size: 1.2em;
    color: var(#121212);
}

.about h2 {
    font-size: 1em;
}

/* justify text*/
.justify-text {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word;
}

/* horizontal line */
hr {
    background: var(--primary);
    height: 2px;
    color: var(--tertiary);
}


/* top bar */
.top {
    background-color: var(--primary);
    color: #fff;
}

/* navbar */
.custom-navbar {
    background-color: white;
    height: 80px;
    z-index: 100;
    border-bottom: 1px solid #f1f5f9;
}

.nav-item {
    color: var(--tertiary);
    font-size: 1em;
}

.navbar-nav {
    background-color: white;
}

.nav-item a:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: var(--primary) !important;
}

.menu-custom {
    width: 100vw;
    font-weight: bold;
    padding-bottom: 10px;
}

.dropdown-item {
    color: var(--tertiary);
    font-size: 0.9em;
}

.dropdown-item:hover {
    background-color: #fff;
    color: var(--primary);
}


/* hero section */
.hero-container {
    position: relative;
    overflow-x: hidden;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 10%;
}

.hero-btn {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    border-radius: 50px;
    color: white;
    padding: 10px 15px !important;
    font-size: 1.2em;
}

.hero-btn:hover {
    opacity: 90%;
}

.embed-responsive {
    position: relative;
    width: 100vw;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    border: none;
    object-fit: cover;
}

.about h1,
.news h1,
.valued h1,
.achievements-container h1,
.events h1,
.team h1,
.clients h1,
.contact h1,
.naps h1,
.contract h1,
.achievement-post h1, .offices h1, #achievement-post h1, #news-post h1 {
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px !important;
    background: -webkit-linear-gradient(var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-container h1{
     font-size: 4em;
     text-align: left;
     font-weight: 800;
     color: white !important;
}

.achievement h1,
.news-post h1 {
    text-align: left !important;
    font-size: 1.1em !important;
}

.contact h1 {
    text-align: left !important;
}

.about span {
    font-weight: bold;
    color: var(--primary);
}



/* News & media section */
.carousel-caption {
    font-size: 0.8em !important;
    color: #374151 !important;
    position: unset !important;
}

.carousel-caption p {
    font-size: 1.4em !important;
}

.carousel-custom img {
    height: 420px !important;
    object-fit: cover;
}

/* client section*/
.client-container {
    overflow: hidden;
    width: 100%;
}

.client {
    display: flex;
    gap: 50px;
    animation: scroll 60s linear infinite;
}

.client img {
    height: 25px;
    flex-shrink: 0;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* footer top */
.footer-top {
    background-color: #FAF9F6;
    padding-top: 50px;
}

.footer-top span {
    background: -webkit-linear-gradient(var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.btn-get {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none !important;
}

.btn-get:hover {
    opacity: 90%;
}

.btn-learn {
    background-color: #fff;
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 50px;
    border: none !important;
}

.btn-learn:hover {
    opacity: 90%;
    background-color: #fff;
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 50px;
    border: none !important;
}

/* footer */
.footer {
    background-color: var(--tertiary);
    color: white;
}

.footer-underline {
    width: 25%;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
}

.footer h1 {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.footer p {
    color: white;
    font-size: 1em;
}

.footer a:hover {
    color: var(--primary);
}

.custom-footer a {
    color: var(--primary);
}




/* about page */
/* client section */
.clients img {
    width: 7%;
    height: auto;
}

/* team section */
.img-box {
    width: 170px;
    height: 170px;
    position: relative;
}

.team img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.team-name h2 {
    font-size: 0.9em !important;
}

.team-name {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 170px;
    height: 170px;
    transform: translate(-50%, -50%);
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #6b7280);
    padding: 5px 10px;
}

.team-name h1 {
    font-size: 1em;
}

.team-name h2 {
    font-size: 0.8em;
}

.about a {
    color: var(--primary);
    text-decoration: underline;
}

/* contract staffing  */
.contract img {
    box-shadow: 10px 10px var(--primary);
}


/* contact page */
.contact {
    color: #374151;
}

.contact h1 {
    font-size: 2em;
    color: #121212;
}

.contact-section {
    background-color: var(--primary);
    padding: 50px;
    color: white !important;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs label {
    font-size: 1.2em;
    padding-bottom: 4px;
    color: #121212;
}

.form-inputs input,
.form-inputs textarea {
    padding: 7px;
    outline: none !important;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: #374151;
}

.form-btn {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.form-btn:hover {
    opacity: 90%;
    background-color: var(--primary);
}

.offices h2 {
    font-size: 1.2em;
    color: var(--primary);
}

.offices a {
    color: var(--primary);
}

/* achievements page */
#achievement-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
}

.achievement-post {
    height: 550px !important;
    width: 340px !important;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}

.achievement-post:hover,
.news-post:hover {
    transform: scale(1.05)
}

.achievement-post h1 {
    font-size: 1.5em;
    padding: 10px;
}

.achievement-post p {
    font-size: 1em;
    padding: 10px;
}


.achievement-post small {
    font-size: 1em;
    padding: 10px;
    color: var(--primary);
}


.achievement-post img {
    width: 340px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.achievement-post img:hover,
.news-post img:hover {
    width: 340;
    height: 200px;
    transform: scale(1.1);
    transition: 1s ease-in-out;
}


/* Achievement Post Page */

/* Post page */
#achievement-post small {
    color: var(--primary);
}

#achievement-post h1 {
    font-size: 2em;
    padding: 20px 0;
    text-align: left !important;
}

#achievement-post img {
    width: 60%;
    height: auto;
    box-shadow: 10px 10px var(--primary);
    margin-bottom: 50px;
}

.certificate img {
    width: 50% !important;
    box-shadow: -10px 10px var(--primary) !important;
}


#achievement-post h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #121212;
}

/* news page */
#news-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 35px;
}

.news-post {
    width: 340px !important;
    border: 1px solid lightgray;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;

}

.news-post h1 {
    font-size: 1.5em;
    padding: 10px;
}

.news-post p {
    font-size: 1em;
    padding: 10px;
}


.news-post small {
    font-size: 1em;
    padding: 10px;
    color: var(--primary);
}

.news-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* News Post page */
#news-post small {
    color: var(--primary);
}

#news-post h1 {
    font-size: 2em;
    padding: 20px 0;
    text-align: left;
}

#news-post img {
    width: 60%;
    height: auto;
    box-shadow: 10px 10px var(--primary);
    margin-bottom: 50px;
}



#news-post h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #121212;
}


.icon-offers {
    animation: inflight 2s linear infinite;
}

@keyframes inflight {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        color: var(--primary);
    }

    100% {
        transform: scale(1);
    }
}


/* Privacy policy page */
.privacy h1 {
    font-size: 2em;
    color: #121212;
}

.privacy h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
    color: #121212;
}

.privacy p,
.privacy li {
    font-size: 1.2em;
    color: #374151;
}

/* whatsapp btn */

.whatsapp-btn {
    right: 2%;
    position: fixed;
    bottom: 50px;
    color: #fff;
    background-color: #25D366;
    border-radius: 50%;
    animation: infiniteZoom 2s linear infinite;
}

@keyframes infiniteZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* mobile view */
@media (max-width: 768px) {
    .top {
        display: none;
    }

    .hero-container h1{
        font-size: 1.9em;
        text-align: left;
        font-weight: 800;
        color: white !important;
   }

   .hero-video{
    height: 400px !important;
   }

    .custom-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu {
        gap: 20px;
    }

    .footer h1 {
        font-size: 1.2em;
        padding-bottom: 0.5em;
    }

    .about-text {
        text-align: justify;
    }

    .custom-btn {
        width: 100%;
    }


    .gap {
        gap: 10px
    }

    .about-padding {
        padding-top: 20px !important;
    }

    .hero-overtext {
        font-size: 1.5em !important;
    }

    .hero-btn {
        background-color: var(--primary);
        border-radius: 50px;
        color: white;
        padding: 6px 10px !important ;
        font-size: 1.1em !important;
    }

    .hero-btn:hover {
        opacity: 90%;
    }

    .contract img {
        width: 100vw !important;
        box-shadow: none;
    }

    .carousel {
        width: 100vw !important;
    }

    .clients img {
        width: 20%;
    }

    .footer-tops {
        gap: 15px;
    }

    #news-post img {
        width: 100vw;
        height: auto;
        box-shadow: none !important;
        margin-bottom: 50px;
    }

    #achievement-post img {
        width: 100vw;
        height: auto;
        box-shadow: none !important;
        margin-bottom: 50px;
    }

    .certificate img {
        width: 100% !important;
        box-shadow: none !important;
    }

    .whatsapp-btn {
        right: 5%;
    }

    .navbar-nav {
        height: 100vh;
    }

}